<table id='game_table'>
  <tr id='first_row'>
    <td class='box'></td>
    <td class='box'></td>
    <td class='box'></td>
    <td class='box'></td>

  </tr>
  <tr>
    <td class='box'></td>
    <td class='box'></td>
    <td class='box'></td>
    <td class='box'></td>
  </tr>
  <tr>
    <td class='box'></td>
    <td class='box'></td>
    <td class='box'></td>
    <td class='box'></td>
  </tr>
  <tr>
    <td class='box'></td>
    <td class='box'></td>
    <td class='box'></td>
    <td class='box'></td>
  </tr>
</table>



<div id='timer'>0</div>
