<table id='new_table'>
  <tr id='new_first_row'>
    <td class='table_box c1'></td>
    <td class='table_box c2'></td>
    <td class='table_box c3'></td>
    <td class='table_box c4'></td>
  </tr>
  <tr>
    <td class='table_box c1'></td>
    <td class='table_box c2'></td>
    <td class='table_box c3'></td>
    <td class='table_box c4'></td>
  </tr>
  <tr>
    <td class='table_box c1'></td>
    <td class='table_box c2'></td>
    <td class='table_box c3'></td>
    <td class='table_box c4'></td>
  </tr>
  <tr>
    <td class='table_box c1'></td>
    <td class='table_box c2'></td>
    <td class='table_box c3'></td>
    <td class='table_box c4'></td>
  </tr>
</table>



<div id='game_timer'>0</div>
