// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#play_again {
  padding: 30px;
  margin: auto;
  width: 40%;
  display: none;
}
